<!--include header.ejs partial-->
<%- include('partials/header',{title:'marketplace'}) %>

<section class="vh-80" style="background-color: white;">
    <br>
    <div class="grid-container">
        <% crops.forEach(function(crop){ %>
        <div class="grid-item">
            <img src="../img/<%=crop.title%>.jpg" alt="Product Image" width="200" height="200">
            <h3><%=crop.title%></h3>
            <p>Price:<%=crop.amount%></p>
            <p>Remaining Time: <%=crop.endTime%></p>
            <button class="button">Place Bid</button>
            <button class="button">Show Details</button>
        </div>
        <% }) %>
    </div>
</section>
<!--include footer partial-->
<%- include('partials/footer') %>